<form action="/post" method="post">
	Turning:<br>
	<input type="text" name="turning"><br>
	Camera_x:<br>
	<input type="text" name="camera_x"><br>
	Camera_y:<br>
        <input type="text" name="camera_y"><br>
        Motor_R:<br>
        <input type="text" name="motor_r"><br>
	Motor_L:<br>
        <input type="text" name="motor_l"><br>
	Waypoint_List ( [(a,b),(a,b), ...] ):<br>
	<input type="text" name="waypoint_list"><br>
	Run_Mode:<br>
        <input type="text" name="run_mode"><br>
	<input type="submit" value="Submit">
</form>
